.phone__add-page {
  margin-top: 2rem;
}
.add-page__heading {
  margin-bottom: 1.5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 20px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-group label,
.preview__heading{
  margin-right: 1rem;
  width: 20%;
}
.form-control {
  margin-left: auto;
  padding: .5rem 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 80%;
  outline: none;
  text-indent: 10px;
}
.form-control:focus {
  box-shadow: 0 0 2px #27ae60;
}
.preview-img-wrap {
  margin: 1.5rem 0;
}
.no-image {
  background: #ccc;
  text-align: center;
  color: #666;
  width: 100px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-back {
  margin-left: 2rem;
  background: #c0392b;
}