.phone__item {
  display: flex;
  margin-bottom: 1rem;
  padding: .8rem;
  align-items: center;
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 2px -1px rgba(0,0,0, .8);
  cursor: pointer;
}
.phone__img-wrap {
  width: 20%;
  margin-right: 1rem;
}
.phone__img-wrap img {
  max-width: 100%;
  vertical-align: middle;
}
.phone__name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
}