.header {
  padding: 1rem 0;
  border-bottom: 1px solid #f2f2f2;
}
.header .container {
  display: flex;
  align-items: center;
}
.heading {
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
}
.phone__add {
  margin-left: auto;
}