html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font: 1rem/1.32 "Open Sans", sans-serif;
  color: #222;
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
.btn {
  display: inline-block;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  background: #27ae60;
  font-size: .9rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}
a {
  color: #2c3e50;
}
a:hover {
  text-decoration: none;
}