.contact {
  padding: 1rem 0;
}
.contact__info-wrap {
  display: flex;
}
.contact__img-wrap {
  width: 30%;
  margin-right: 15px;
}
.contact__img-wrap img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.contact__heading.heading {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.contact__phone {
  margin-bottom: 5px;
}
.contact__email a{
  font-weight: bold;
  text-decoration: none;
}
.contact__controls {
  margin-top: 1rem;
}
.contact__controls a{
  display: inline;
}